/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
    /* сохраните этот селектор в приведённом виде.
      Так стили написанные ниже будут иметь больший вес,
      чем стили в медиазапросе предпочтений пользователя
    */
}

:root {
    --theme_dark_background: #000028;
}

.page.theme_dark .header {
    background-image: url("../images/cover-image-dark.png");
    background-size: cover;
}

.page.theme_dark main {
    background-color: var(--theme_dark_background);
}

.page.theme_dark footer {
    background-color: var(--theme_dark_background);
}