.page.theme_dark {
  --theme_background_image: url("../images/cover-image-dark.png");
  --theme_background: #000028;
  --theme_title_background: #FF0070;
  --theme_title_font_color: #DB00FF;
  --theme_content_font_color: #F1B2CE;
  --theme_rec_visibillity: flex;
  --button_color: #FF0070;
  --accent_title_font_color:#000028;
  --accent_title_background_color:#FF0070;
  --main_section_title_font_color: #FF0070;
}

.recording {
  display: var(--theme_rec_visibillity);
  position: absolute;
  top: 20px;
  right: 2.313em;
  width: 43px;
  height: 26px;
  color: var(--theme_title_background);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  justify-items: center;
  align-self: center;
}

.recording::after {
  display: var(--theme_rec_visibillity);
  content: url("../images/rec.svg");
  align-self: center;
  justify-self: center;
  width: 23px;
  height: 23px;
  fill: var(--theme_title_background);
  filter: drop-shadow(0px 0px 4px var(--theme_title_background));
  padding-left: 4px;
}



@media screen and (width <768px) {
  .page.theme_dark .recording {
    top: 10px;
    right: 1.31em;
    width: 46px;
  }
}