/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-font: "IBM Plex mono";
  --theme_background_image: url("../images/cover-image-dark.png");
  --theme_background: #000028;
  --theme_title_background: #ff0070;
  --theme_title_font_color: #db00ff;
  --theme_content_font_color: #f1b2ce;
  --theme_rec_visibillity: flex;
  --button_color: #ff0070;
  --accent_title_font_color: #000028;
  --accent_title_background_color: #ff0070;
  --main_section_title_font_color: #ff0070;
  --button_color_hover: rgba(255, 0, 112, 0.4);
  --link_decoration_color: #ff0070;
}
