/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
    --main-font: 'IBM Plex mono';
    --theme_background_image: url("../images/cover-image-dark.png");
    --theme_background: #000028;
    --theme_title_background: #FF0070;
    --theme_title_font_color: #DB00FF;
    --theme_content_font_color: #F1B2CE;
    --theme_rec_visibillity: flex;
    --button_color: #FF0070;
    --accent_title_font_color:#000028;
    --accent_title_background_color:#FF0070;
    --main_section_title_font_color: #FF0070;
    --button_color_hover:rgba(255, 0, 112, 0.40);
    --link_decoration_color:#FF0070;
}
